@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF8F0 !important;
  color: #0f172a !important;
}

nav {
  background-color: rgba(255, 248, 240, 0.8) !important;
  border-bottom: 1px solid #e2e8f0;
}
